---
const { platform, username } = Astro.props;

const capitalisedFirstLetter = (word) => {
    const capitalFirstLetter = word.charAt(0).toUpperCase();
    const restOfWord = word.slice(1)
    return `${capitalFirstLetter}${restOfWord}`
}
---
<a href={`https://www.${platform}.com/${username}`}>{capitalisedFirstLetter(platform)}</a>

<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }
</style>
